# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# Go workspace files
go.work
go.work.sum

# Dependency directories (Uncomment if you do not want to commit vendor dependencies)
# vendor/

# Environment variables
.env

# IDE-specific folders
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
/build/
/dist/